.mat-form-field-wrapper {
  width: 300px;
}

.container {
  margin: auto;
  text-align: center;
}

button:not(.eliminar) {
  margin: 2rem 1rem;
}

p {
  border: 1px dotted rgb(53, 53, 53);
  width: 30%;
  text-align: center;
  margin: auto;
  padding: 1rem;
  border-radius: 15px;
  margin-top: 1rem;
}

.delete{
  border: 1px solid red;
  color: red;
}
.aceptar {
  margin: 0 1rem;
}

.lista-utiles {
  font-size: 1.2rem;
  line-height: 2rem;
  width: 40%;
  margin: auto;
  text-align: left;
}

.guardar{
  border: 1px solid #21d821;
  color: #21d821;
}

.limpiar{
  border: 1px rgb(50, 151, 202) solid;
  color: rgb(50, 151, 202);
}

/* .fila3{
  height: 25%;
  width: 25vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
} */